* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100vh; 
    margin: 0; 
    font-family: "Poppins", sans-serif; 
    background-color: #000000; 
    background-image: linear-gradient(to bottom, #4200FF, #000000); 
    background-repeat: no-repeat; 
    background-size: 100% 200px;
}

section {
    padding: 25px;
}

.container {
    width: 100%;
    max-width: 390px;
    margin: auto;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.col {
    width: 100%;
    margin: 5px;
}

.text-align {
    text-align: center;
}

h1 {
    color: white;
    font-size: 28px;
}

.bg-dark {
    background-color: rgb(34, 34, 34);
    border: 1px solid black;
}

p {
    color: white;
}

.m-1 {
    margin-bottom: 5px;
}

.p-5 {
    padding: 15px;
    border-radius: 15px;
}

.d-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    margin-top: 5px;
}

.d-grid .col {
    margin: 0;
}

button {
    background-color: transparent;
    outline: 0;
    border: 0;
}

.blue {
    background-color: #CAD7F9;
}

.pink {
    background-color: #C2A2ED;
}

.light {
    background-color: #94AFF3;
}

.light-pink {
    background-color: #FEC4DF;
}

.justify-between {
    justify-content: space-between;
    width: 100%;
}

.justify-between .col {
    width: fit-content;
}

.mt-5 {
    margin-top: 15px;
}

.m-0 {
    margin: 0;
}

h3 {
    color: white;
}

.range {
    height: 8px;
    width: 100%;
    background: linear-gradient(to right, #EE7B30 0%, #F1AA3C 33%, #295FE6 66%, #ED7FB7 100%);
    border-radius: 50px;
}

.mt-max {
    margin-top: 35px;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
    bottom: -5px;
    left: 90px;
}

.w-0 {
    width: unset;
}

.big-font {
    font-size: 24px;
    font-weight: 600;
}

.thin-font {
    font-weight: 300;
    color: #B3B3B3;
}

.mb-2 {
    margin-bottom: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #242424;
    padding: 25px 0px;
}

.ml-0 {
    margin-left: 0;
}

footer .row .col .card {
    text-align: center;
}

footer .row .col .card a {
    text-decoration: none;
}

footer .row .col .card a p {
    margin-top: 10px;
    color: #B3B3B3;
}

a.active p {
    color: #03DAC6!important;
}

/* Style the tab */
.tab {
    overflow: hidden;
    display: flex;
}
  
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: all .1s ease;
    color: white;
    font-size: 24px;
    font-weight: 300;
    width: 100%;
}
  
/* Change background color of buttons on hover */
.tab button:hover {
    border-bottom: 3px solid #ddd;
}
  
/* Create an active/current tablink class */
.tab button.active {
    font-weight: 900;
    border-bottom: 3px solid #ccc;
}
  
/* Style the tab content */
.tabcontent {
    display: none;
}

.mt-50 {
    margin-top: 50px;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.ml-1 {
    margin-left: 15px;
}

.mt-25 {
    margin-top: 25px;
}

.color-dark {
    color: #B3B3B3;
}

.mb-50 {
    margin-bottom: 120px;
}

.align-end {
    align-items: end;
    justify-content: center;
}